{{ form_start(form) }}
    {{ form_widget(form) }}
    {# add line #}
    <p>total price : {{ billing.price }}</p>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
