{% extends 'base.html.twig' %}

{% import "header.html.twig" as macro %}
{# {% block title %}Hello DashboardController!{% endblock %} #}

{% block body %}

{{ macro.header_template() }}

<div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Chiffre d'affaire</h5>
            <p>Chiffre d affaire paye : &euro;{{ CApayed }}&euro;</p>
            <p>Paiements en attente : {{ ExpPayement }}&euro;</p>
            <p>a facturer : {{ editer }}&euro;</p>
            <p>Total : {{ CApayed + ExpPayement + editer}}&euro;</p>
            <p>Reste a faire : {{ turne_over - ExpPayement }}&euro;</p>
            <p>Plafond : {{ turne_over }}&euro;</p>
        </div>
      </div>
    </div>
    <div class="col">
      <canvas id="myChart" width="400" height="400">Column chart // to remove</canvas>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Charges Sociales</h5>
            <p>chiffre d affaire paye {{ CApayed }}&euro;</p>
            <p>Taux {{ taux }}&euro;%</p>
            <p>Montant a payer {{ CApayed * ( taux / 100 ) }}&euro;</p>
            <p>chiffre d affaire estime {{ CApayed }}&euro;</p>
            <p>montant a payer estime {{ CApayed * ( taux / 100 ) }}&euro;</p>
        </div>
      </div>
    </div>
    <div class="col">
      <canvas id="myChart" width="400" height="400">Column chart // to remove</canvas>
    </div>
  </div>
</div>

<script>

</script>

{% endblock %}
