{% extends 'base.html.twig' %}

{% import "header.html.twig" as macro %}
{# {% block title %}Hello DashboardController!{% endblock %} #}

{% block body %}

{{ macro.header_template() }}

<div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Chiffre d'affaire</h5>
            <p>Chiffre d affaire paye : {{ CApayed }}</p>
            <p>Paiements en attente : {{ ExpPayement }}</p>
            <p>a facturer : {{ editer }}</p>
            <p>Total : {{ CApayed + ExpPayement + editer}}</p>
            <p>Reste a faire : {{ turne_over - ExpPayement }}</p>
            <p>Plafond : {{ turne_over }}</p>
        </div>
      </div>
    </div>
    <div class="col">
      <canvas id="myChart" width="400" height="400">Column chart // to remove</canvas>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Charges Sociales</h5>
            <p>a bunch of data</p>
        </div>
      </div>
    </div>
    <div class="col">
      <canvas id="myChart" width="400" height="400">Column chart // to remove</canvas>
    </div>
  </div>
</div>

<script>

</script>

{% endblock %}
